<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/css/converter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <!-- Include the Navbar -->
  <%- include('navbar') %>
    <div class="container">
         <h2>Currency Converter</h2>
         <form>
            <div class="amount">
                <p>Enter amount</p>
                <input value="1" type="text">
            </div>
            <div class="drop">
                <div class="from">
                    <p>From</p>
                    <div class="select">
                        <img src="https://flagsapi.com/US/shiny/64.png">
                        <select name="form">
                            <option value="USD">USD</option>
                            <option value="INR">INR</option>
                        </select>
                    </div>    
                </div>
                <i class="fa-solid fa-right-left"></i>
                <div class="to">
                    <p>To</p>
                    <div class="select">
                        <img src="https://flagsapi.com/IN/shiny/64.png">
                        <select name="to">
                            <option value="USD">USD</option>
                            <option value="INR" selected>INR</option>
                        </select>
                    </div>    
                </div>
            </div>
            <div class="msg">Get Real Time Value</div>

            <div class="button-container">
                <button id="button">Convert</button>
            </div>
         </form>
    </div>
    <footer>
        Copyright &copy; All rights reserved 2024-2025
    </footer>
    <script src="/js/flags.js"></script>
    <script src="/js/conveter.js"></script>
</body>
</html>
